$color-stt: #1d62ee;
$color-white: #ffffff;
$color-light: #d3d3d3;
$color-gray: #797979;
$color-black: #12121b;
$color-sports: #b61d22;
$color-clinical: #62c300;
$color-human: #0062ae;
$color-isen: #0062ae;
$path-link-color: #ababaf;