$vertical_space: 31;

.extra > .blog-post-body {
  p {
    margin: 0;
  }
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;

    .compact {
      > [class*="col-"] {
        display: flex;
        flex-direction: column;
        padding: 22px 15px 22px 15px;
      }
      > .center {
        width: 195px;
      }
      > [class*="col-"]:first-of-type {
        float: none;
        margin-left: auto;
      }
      > [class*="col-"]:last-of-type {
        float: none;
        margin-right: auto;
      }
    }

    .fake {
      max-height: 0;

      [class*="col-"] {
        padding: 0;
      }
    }
  }
  > .row {
    > [class*="col-"] {
      display: flex;
      flex-direction: column;
      padding: #{2*$vertical_space}px 35px #{2*$vertical_space}px 35px;
    }

    &.no-top-margin {
      > [class*="col-"] {
        padding-top: 0;
      }  
    }

    &.no-bottom-margin {
      > [class*="col-"] {
        padding-bottom: 0;
      }  
    }
  }
}

.col-extra {
  justify-content: center;

  &:before {
    background-color: inherit;
    content: "";
    position: absolute;
    height: 100%;
    z-index: -1;
    width: 100vw;
  }
  &:first-of-type:before {
    right: 0;
  }
  &:last-of-type:before {
    left: 0;
  }
  &:only-of-type:before {
    width: 200vw;
    left: -50vw;
  }

  padding-bottom: 5px;
  padding-top: 10px;
}

.no-bottom-margin {
  .col-extra:only-of-type:before {
    margin-top: #{-$vertical_space}px;
  }  
}
.no-top-margin {
  .col-extra:only-of-type:before {
    margin-top: #{$vertical_space}px;
  }  
  &.no-bottom-margin {
    .col-extra:only-of-type:before {
      margin-top: 0;
    }  
  }
}

.blog-list {
  padding: 20px;
}
