#izqTel {
    margin-right: 5px;
}

#derechaCont {
    margin-left: 5px;
}

#contacto-permanente {
    position: fixed;
    z-index: 999;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 1.5rem;
}

#contacto-permanente svg {
    width: 1.8rem;
    margin-right: 0;
}

#contacto-permanente a {
    display: block;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

svg:not(:root) {
    overflow: hidden;
}

.d-none {
    display: none!important;
}

#contacto-permanente div {
    width: inherit;
    background-color: #0069aa;
    color: white;
    padding: 0.5rem;
    transition: 0.2s ease-in-out;
    display: flex;
    right: unset;
    border-top: white;
    justify-content: center;
}

#contacto-permanente div:hover {
    right: 8.2rem;
    color: #0069aa;
    background-color: white;
    border: #0069aa 1px solid;
}

#contacto-permanente a:hover {
    color: #0069aa;
}

.position-relative {
    position: relative !important;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

@media (min-width: 576px) {
    #contacto-permanente {
        position: fixed;
        z-index: 999;
        right: -8.2rem;
        left: 0;
        bottom: 50%;
        overflow: visible;
        display: flex;
        width: 100%;
        justify-content: space-around;
        transform: translateY(50%);
        left: unset;
        width: unset;
        flex-direction: column;
    }
    #contacto-permanente div:first-child {
        border-right: none;
    }
    #contacto-permanente div svg {
        margin-right: 0.6rem;
        width: 1.5rem;
        transition: 0.2s ease-in-out;
    }
   
    #contacto-permanente div {
        padding: 0px;
        background-color: #0069aa;
        color: white;
        border-radius: 0;
        margin: 0.2rem 0;
        border: 1px solid  #0069aa;
        border-right: 0;
        transition: 0.2s ease-in-out;
        /*right: -7rem;*/
        border-radius: 10px 0 0 10px;
    }
    #contacto-permanente a {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        font-weight: 600;
        padding: 0.5rem;
    }
    #contacto-permanente a:hover {
        color: #0069aa;
    }
    .d-sm-block {
        display: block!important;
    }
}

@media (min-width: 768px) {
    /*#contacto-permanente div {
        right: -8.2rem;
    }*/

    #contacto-permanente div a {
        padding: 1rem;
        font-size: 1.75rem;
    }

}
