@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/sourcesans/sourcesanspro-extralight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/sourcesans/sourcesanspro-extralightit.ttf) format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/sourcesans/sourcesanspro-light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/sourcesans/sourcesanspro-lightit.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/sourcesans/sourcesanspro-regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/sourcesans/sourcesanspro-it.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/sourcesans/sourcesanspro-semibold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/sourcesans/sourcesanspro-semiboldit.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/sourcesans/sourcesanspro-bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/sourcesans/sourcesanspro-boldit.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/sourcesans/sourcesanspro-black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/sourcesans/sourcesanspro-blackit.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}
