h1 {
  font-size: 64px;
  font-weight: 200;
  color: #ffffff;
}

h3 {
  font-size: 24px;
  font-weight: 300;
  color: #cfcfcf;
}

.panel-bg {
  background-color: #0069aa;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  transform: scale(1, 1);
}
.panel-bg:hover, a:hover + .panel-bg {
  background-color: #164f86;
  transform: scale(1.05, 1.05);
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@mixin product($name) {
  .#{$name} {
    background-image: url("../images/products/#{$name}.png");
    background-size: cover;
  }

  .#{$name}:hover {
    background-image: url("../images/products/#{$name}-hover.png");
  }
}

.product-links {
  margin-top: 40px;

  a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 5px;
  }
  span {
    display: inline-block;
    width: 32px;
    height: 32px;
  }

  @include product(sports);
  @include product(cycling);
  @include product(golf);
  @include product(running);
  @include product(clinical);
  @include product(human);
  @include product(eddo);
  @include product(isen);
}
