h1 {
  font-size: 64px;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0px 0px 6px #00000066;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  font-size: 30px;
  font-weight: 300;
  color: #f4f4f4;
  text-shadow: 0px 0px 6px #00000066;
}

.panel {
  float: none;
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  border: 0;
  border-radius: 0;
  padding: 0;
  padding-bottom: 40px;
  overflow: hidden;

  h1, h3 {
    .highlighted {
      background-color: #00000088;
      color: #fff;
    }
 }

  [class*='col-'] {
    z-index: 10;
  }

  .panel-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0069aa;
    background-position: center center;
    left: 0;
    top: 0;
  }

  .right {
    right: 0;
    background-position-x: right;
  }
  .left {
    background-position-x: left;
  }
  .bottom {
    bottom: 0;
    background-position-y: bottom;
  }
}

.row::before, .row::after, .container-fluid::before, .container-fluid::after {
  content: none;
}

@mixin product($name) {
  .#{$name} {
    background-image: url("../images/products/#{$name}.png");
    background-size: cover;
  }

  .#{$name}:hover {
    transform: scale(1.08);
  }
}

.product-links {
  margin-top: 40px;

  a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 5px;
  }
  span {
    display: inline-block;
    width: 32px;
    height: 32px;

    /* Hide text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  @include product(sports);
  @include product(cycling);
  @include product(golf);
  @include product(running);
  @include product(clinical);
  @include product(human);
  @include product(eddo);
  @include product(isen);
}

.product-name {
  font-size: 18px;
  font-weight: 300;
  color: #cfcfcf;
  margin-top: 10px;
  height: 50px;
}

.footer > .container {
  padding-bottom: 20px;
}
