@import "_colors.scss";
@import "_responsive.scss";

@media (min-width: 1280px) {
  .container {
    width: 1250px;
  }
}

@media screen and (max-width: 900px) {
  .grid li {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .grid li {
    width: 100%;
  }
}

@media #{$tablet} {
  body h1.page-title {
    font-size: 20px;
  }

  header .row {
    margin-right: -15px;
  }

  .carousel-inner .row {
    margin-left: -20px;
    margin-right: 0;
  }

  #clients-carousel {
    .row {
      margin-left: 0;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    img {
      max-width: 17%;
    }
  }

  div.blog-post div.span10 {
    margin-left: 0;
  }

  .blog-post-details-item {
    width: 100%;
  }

  .blog-post-details-separator {
    display: none;
  }

  .blog-post {
    .blog-post-details-item {
      margin: 0;
    }

    .blog-span {
      margin-left: 20px;
    }
  }

  .footer {
    .copyright {
      height: auto;
      text-align: center;

      p {
        margin: 0;
      }
    }

    .social-icons ul {
      background-color: transparent;
      height: 40px;
      li {
        display: inline-block;
      }
    }
  }

  .heading-title {
    h2:after,
    h2:before {
      display: none;
    }
  }

  .body-wrapper {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .section-content.no-padding {
    padding-bottom: 0;
  }

  [class*="col-md"],
  [class*="col-sm"],
  [class*="col-lg"] {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .section-content.cta-section .cta-details a {
    margin-top: 20px;
  }

  .header {
    height: 80px;
  }

  .boxed,
  .boxed .container {
    width: auto !important;
  }

  .banner {
    height: auto;
  }

  .tab {
    border: none;
    border-bottom: 1px solid #e7e7e7;
    color: #9b9b9b;
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin: 0 !important;
    padding: 0;
    position: relative;
    text-align: center !important;
    top: 1px;
    width: 100%;
  }

  .section-content.cta-section .cta-details a {
    margin-top: 20px;
  }
  .footer-col.ghost {
    display: none;
  }
  .footer > .container {
    padding-bottom: 0;
  }
  .footer-logo-col {
    display: none !important;
  }

  .header:after {
    background-image: none;
  }

  .searchbox {
    display: none;
  }

  .navigation,
  .sticky-navigation {
    display: none !important;
  }

  .responsive-searchbox {
    position: relative;
  }

  .price-table .price-label .price-label-name {
    font-size: 18px;
  }

  .price-table .price-number {
    font-size: 50px;
    padding: 10px 0;
  }
}

@media (max-width: 480px) {
  .blog-post .blog-span {
    margin-left: 10px;
  }

  .carousel-caption .btn {
    display: none;
  }
}

@media only screen and (orientation: portrait) and (device-width: 320px),
  (device-width: 768px) {
  .section-content,
  .section-content.section-image::after {
    background-attachment: scroll !important;
  }
}
@media only screen and (orientation: landscape) and (device-width: 320px),
  (device-width: 768px) {
  .section-content,
  .section-content.section-image::after {
    background-attachment: scroll !important;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  #header .col-md-8 {
    padding-left: 0;
    width: auto;
    float: none;
  }

  #header .col-md-4 {
    width: auto;
    float: none;
  }

  .navbar-default .navbar-nav > li > a {
    padding-bottom: 15px;
    padding-top: 56px;
  }
}
