@import "_colors.scss";

.style-base-class {
  font-size: 22px;
  font-weight: 200;

  color: color(gray);

  @mixin header($name, $size) {
    #{$name} {
      font-size: #{$size}px;
      font-weight: 300;
      text-transform: none;
      padding-bottom: 10px;
    }
  }
  @include header(h1, 80);
  @include header(h2, 48);
  @include header(h3, 28);

  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
    &:before {
      content: "\25CF ";
      font-size: 30px;
      margin-right: 10px;
    }
    &.light:before {
      color: color(gray) !important;
    }
  }
}

@mixin links($base-color, $inner-link-color: $base-color) {
  :not(h2) {
    > a {
      color: $base-color;

      &:hover {
        color: darken($base-color, 20) !important;
      }
    }
  }

  .inner-links {
    padding-top: 15px;

    a {
      color: $inner-link-color;
      &:hover {
        color: darken($inner-link-color, 20) !important;
      }
      &:after {
        content: "\21E3";
        visibility: visible;
        margin-left: 5px;
      }
      &:not(:first-child) {
        border-left: 1px solid $inner-link-color;
        padding-left: 15px;
      }
      &:not(:last-child):after {
        margin-right: 15px;
      }
    }
  }
}

@mixin buttons($bg-color, $text-color, $role) {
  .btn.btn-#{$role} {
    border-color: $bg-color;
    background-color: $bg-color;
    color: $text-color;

    &:hover {
      opacity: 0.8;
      color: $text-color !important;
    }
  }
}

.style-white {
  @extend .style-base-class;

  @include links(color(stt));
  @include buttons(color(black), color(white), "primary");

  background-color: color(white);

  h2,
  h2 > a,
  h2 > a:hover {
    color: color(black) !important;
  }
}

.style-white-blue {
  @extend .style-base-class;

  @include links(color(stt));
  @include buttons(color(stt), color(white), "primary");

  background-color: color(white);

  h2,
  h2 > a,
  h2 > a:hover {
    color: color(black) !important;
  }
}

.style-ultra-light {
  @extend .style-base-class;

  @include links(color(stt));
  @include buttons(color(black), color(white), "primary");

  background-color: #f2f2f3;

  h2,
  h2 > a,
  h2 > a:hover {
    color: color(black) !important;
  }
}

.style-ultra-light-blue {
  @extend .style-base-class;

  @include links(color(stt));
  @include buttons(color(stt), color(white), "primary");

  background-color: #f2f2f3;

  h2,
  h2 > a,
  h2 > a:hover {
    color: color(black) !important;
  }
}

.style-light {
  @extend .style-base-class;

  @include links(color(stt));
  @include buttons(color(white), color(light), "primary");

  background-color: color(light);
  color: color(black);

  h2,
  h2 > a,
  h2 > a:hover {
    color: color(white) !important;
  }
}

.style-light-blue {
  @extend .style-base-class;

  @include links(color(stt));
  @include buttons(color(stt), color(white), "primary");

  background-color: color(light);
  color: color(black);

  h2,
  h2 > a,
  h2 > a:hover {
    color: color(white) !important;
  }
}

.style-dark {
  @extend .style-base-class;

  @include links(color(white));
  @include buttons(color(white), color(black), "primary");

  background-color: color(black);
  color: #f0f0f0;

  h2,
  h2 > a,
  h2 > a:hover {
    color: color(white) !important;
  }
}

.style-downloads {
  a {
    color: color(black) !important;
    &:hover {
      color: darken(color(black), 20) !important;
    }
  }
}

@mixin colored($base-color) {
  .style-colored {
    @extend .style-base-class;
    color: color(white);
    background-color: $base-color;

    h2,
    h2 > a,
    h2 > a:hover {
      color: color(black) !important;
    }

    @include buttons(color(white), $base-color, "primary");
  }

  li:before {
    color: $base-color;
  }
}

@mixin colored_style($name) {
  .style-#{$name} {
    @include links(color($name));
    @include colored(color($name));
    @include buttons(color($name), color(white), "secondary");
  }
}

@include colored_style(sports);
@include colored_style(clinical);
@include colored_style(human);
@include colored_style(isen);
