@import "_colors.scss";
@import "_responsive.scss";

.style-base-class {
  font-size: 22px;
  @media #{$mobile} {
    font-size: 18px;
  }

  font-weight: 200;

  color: color(gray);

  @mixin header($name, $size, $size_tablet: $size, $size_mobile: $size_tablet) {
    #{$name} {
      font-size: #{$size}px;
      font-weight: 300;
      text-transform: none;
      padding-bottom: 10px;

      @media #{$tablet} {
        font-size: #{$size_tablet}px;
      }
      @media #{$mobile} {
        font-size: #{$size_mobile}px;
      }
      @media #{$mobile-xs} {
        font-size: #{$size_mobile * 0.75}px;
      }
    }
  }
  @include header(h1, 80, 64);
  @include header(h2, 48, 40);
  @include header(h3, 28, 24);

  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
    &:before {
      content: "\25CF ";
      font-size: larger;
      margin-right: 10px;
    }
    &.light:before {
      color: color(gray) !important;
    }
  }
}

@mixin links($base-color, $inner-link-color: $base-color) {
  :not(h2) {
    > a {
      color: $base-color;

      &:hover {
        color: darken($base-color, 20) !important;
      }
    }
  }

  .inner-links {
    padding-top: 15px;
    overflow-x: hidden;

    @media #{$mobile} {
      font-size: smaller;
    }

    a {
      display: inline-block;
      color: $inner-link-color;
      &:hover {
        color: darken($inner-link-color, 20) !important;
      }
      &:after {
        content: "\21E3";
        visibility: visible;
        margin-left: 5px;
      }
      &:not(:first-child) {
        padding-left: 15px;
      }
      &:not(:last-child) {
        padding-right: 15px;
      }
      &.border {
        border-left: 1px solid $inner-link-color;
      }
    }
  }
}

@mixin buttons($bg-color, $text-color, $role) {
  .btn.btn-#{$role} {
    border-color: $bg-color;
    background-color: $bg-color;
    color: $text-color;

    &:hover {
      opacity: 0.8;
      color: $text-color !important;
    }
  }
}

@mixin header($name, $color) {
  #{$name}, 
  #{$name} > a,
  #{$name} > a:hover {
    color: color($color) !important;
  } 
}
@mixin headers($color) {
  @include header(h2, $color);
  @include header(h3, $color);
  @include header(h4, $color);
}

.style-white {
  @extend .style-base-class;

  background-color: color(white);

  @include links(color(stt));
  @include buttons(color(black), color(white), "primary");
  @include headers(black);

  .collapse-header > a,
  .collapse-header > a:hover {
    color: color(black) !important;
  }
}

.style-white-blue {
  @extend .style-base-class;

  background-color: color(white);

  @include links(color(stt));
  @include buttons(color(stt), color(white), "primary");
  @include headers(black);
}

.style-ultra-light {
  @extend .style-base-class;

  background-color: #f2f2f3;

  @include links(color(stt));
  @include buttons(color(black), color(white), "primary");

  @include headers(black);
}

.style-ultra-light-blue {
  @extend .style-base-class;

  background-color: #f2f2f3;

  @include links(color(stt));
  @include buttons(color(stt), color(white), "primary");
  @include headers(black);
}

.style-light {
  @extend .style-base-class;

  background-color: color(light);
  color: color(black);

  @include links(color(stt));
  @include buttons(color(white), color(light), "primary");
  @include headers(white);
}

.style-light-blue {
  @extend .style-base-class;

  background-color: color(light);
  color: color(black);

  @include links(color(stt));
  @include buttons(color(stt), color(white), "primary");
  @include headers(white);
}

.style-dark {
  @extend .style-base-class;

  background-color: color(black);
  color: #f0f0f0;

  @include links(color(white));
  @include buttons(color(white), color(black), "primary");
  @include headers(white);
}

.style-downloads {
  a {
    color: color(black) !important;
    &:hover {
      color: darken(color(black), 20) !important;
    }
  }
}

@mixin colored($base-color) {
  .style-colored {
    @extend .style-base-class;

    color: color(white);
    background-color: $base-color;

    @include buttons(color(white), $base-color, "primary");
    @include headers(black);
  }

  li:before {
    color: $base-color;
  }
}

@mixin colored_style($name) {
  .style-#{$name} {
    @include links(color($name));
    @include colored(color($name));
    @include buttons(color($name), color(white), "secondary");
  }
}

@include colored_style(sports);
@include colored_style(clinical);
@include colored_style(human);
@include colored_style(isen);
