@import "_colors.scss";

.style-base-class {
  font-size: 28px;
  font-weight: 100;

  color: $color-gray;

  h1 {
    font-size: 70px;
    font-weight: 200;
    text-transform: none;
    padding-bottom: 45px;
  }

  h2 {
    font-size: 48px;
    font-weight: 200;
    text-transform: none;
    padding-bottom: 45px;
  }
}

.style-white {
  @extend .style-base-class;

  background-color: $color-white;

  h2 {
    color: $color-black;
  }
}

.style-light {
  @extend .style-base-class;

  background-color: $color-light;

  h2 {
    color: $color-white;
  }
}

.style-dark {
  @extend .style-base-class;

  background-color: $color-black;

  h2 {
    color: $color-white;
  }
}

.style-sports {
  a {
    color: $color-sports;
  }
  a:hover {
    color: darken($color-sports, 20) !important;
  }
  
  .style-colored {
    @extend .style-base-class;
    color: $color-white;
    background-color: $color-sports;
    
    h2 {
      color: $color-black;
    }
  }
}
