@import "_colors.scss";
@import "_responsive.scss";

html {
  height: 100%;
}

body,
html {
  min-height: 100%;
  overflow-x: hidden;
}

body,
button,
html,
input,
select,
textarea {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
  color: #878787;
  margin: 0;
  font-size: 13px;
  background-color: #fff;
}

li,
p {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

p {
  padding-bottom: 20px;

  &:last-of-type {
    padding-bottom: 0px;
  }
}
.footer,
.compact-paragraph,
.distributor {
  p {
    padding-bottom: 0;
  }
}

// Workaround to avoid inner links to fall behind navbar (won't work correctly if WP own navbar is also displayed)
// http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/#method-D
.row[id] {
  border-top: 90px solid transparent;
  margin-top: -90px;

  @media #{$tablet} {
    border-top: 50px solid transparent;
    margin-top: -50px;
  }

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

p:empty {
  display: none;
}

.boxshadow,
.cases-menu a:hover,
.cases-section a.seemore,
.thumb64 {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
}

.content-box h4,
.footer .footer-col .footer-title,
.message-box h4,
h2.widgettitle {
  text-transform: uppercase;
}

#clients-carousel .row,
.cases-section,
.share-buttons,
.youtube p,
p.gallery-caption,
table.clean tr,
table.shop_attributes tr {
  text-align: center;
}

@media #{$tablet} {
  table.clean td {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.text-input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.content-box .read-more:hover i {
  text-decoration: none;
}

.share-buttons,
nav ol,
nav ul {
  list-style: none;
}

.share-buttons li:before {
  content: "" !important;
}

.navigation,
.posts-list {
  list-style-type: none;
}

.contact-social a {
  img {
    display: inline;
    margin-right: 10px;
  }
}

.map-overlay {
  background: 0 0;
  position: relative;
  width: 100%;
  height: 450px;
  top: 450px;
  margin-top: -450px;
}

.share-buttons {
  img {
    display: inline !important;
  }

  a:hover {
    filter: drop-shadow(0 0 5px #888);
    -webkit-filter: drop-shadow(0 0 5px #888);
  }

  li {
    display: inline;
    margin: 2px;
  }
}

#clients-carousel img {
  max-width: 12%;
  max-height: 201px;
  display: inline-block;
}

.footer-logo {
  width: 100%;
  height: auto;
  max-width: 171px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.gallery-caption {
  margin-top: -35px !important;
  font-size: 14px !important;
}

/* Titles */
@mixin header($name, $size) {
  #{$name} {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
    font-size: #{$size}px;
    margin: 0 0 20px;
    color: #3a3a3a;
  }
}
@include header(h1, 28);
@include header(h2, 22);
@include header(h3, 18);
h3 {
  margin-top: 25px;
  margin-bottom: 0;
}
@include header(h4, 16);
@include header(h5, 15);
@include header(h6, 14);

h1.page-title {
  margin: 0 10px 10px 0;
  color: #fff;
  float: none;
  color: #fff;
  font-weight: 100;
  margin-top: 25px;
  margin-bottom: 25px;
}

.top-title-wrapper > h1 {
  line-height: 20px;
}
h1 a,
h1 a:focus,
h1 a:hover,
h2 a,
h2 a:focus,
h2 a:hover {
  color: #fff;
}
.blog-post-body h3:first-child,
.blog-post-body h4:first-child {
  margin-top: 0 !important;
}
body .h4-section-title {
  margin-bottom: 10px;
  font-size: 18px;
  color: #4b4b4b;
  font-weight: 600;
  line-height: 28px;
}
h2.widgettitle {
  color: #4b4b4b;
  font-size: 15px;
  font-weight: 500;
}
.h4-body-title {
  font-size: 18px;
  color: #4b4b4b;
  font-weight: 400;
}

.textwidget {
  color: #d4d4d4;
  p {
    margin-bottom: 0 !important;
  }
  a {
    color: #d4d4d4;
  }
  a[href^="mailto"] {
    color: #428bca;
  }
  a:hover {
    color: color(stt);
  }
  [class*="col-"] {
    padding-left: 0px !important;
  }
}

.recent-post {
  margin-bottom: 4px;
  border-bottom: 1px solid #888;

  a {
    color: #fff;
    font-weight: 100;
    padding-bottom: 2px;
  }
  a:hover {
    color: color(stt);
  }
}

.recent-post:last-child {
  margin-bottom: 4px;
  border-bottom: 0;
}

.fa {
  color: #aaa !important;
  margin-right: 4px !important;
}

.thumb64 {
  height: 64px;
  width: 64px;
  display: inline-block;
  margin: 2px;
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
}
.thumb64:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
}

.youtube,
body .syntaxhighlighter {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
}

.youtube {
  max-width: 560px;
  margin: 0 auto 15px;
  display: block;
  border-radius: 7px;
  background: #fff;

  @media #{$mobile} {
    margin-bottom: 5px;
    border-radius: 5px;
  }

  p {
    font-size: 14px;
    padding-bottom: 5px;
  }

  > div {
    margin: 0 auto;
    padding: 5px;
    @media #{$mobile} {
      padding: 3px;
    }

    > div {
      position: relative;
      overflow: hidden;
    }
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media #{$mobile} {
  .blog-list {
    .youtube {
      > div > div {
        padding-bottom: 0 !important;
        margin-bottom: -5px;
      }
      iframe {
        position: initial;
      }
    }
  }
}

iframe {
  border: 0;
}

/* Galleries */
.gallery {
  width: 100%;
  margin: 15px auto 35px;
  display: inline-block;
}

.blueimp-gallery > .indicator > li {
  width: 64px !important;
  height: 64px !important;
  border-radius: 5px !important;
  background-size: cover !important;
}

.blueimp-gallery > .indicator > :not(.active) {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
}

.blueimp-gallery > .indicator > li:hover:not(.active) {
  filter: grayscale(30%);
  -webkit-filter: grayscale(30%);
  -moz-filter: grayscale(30%);
  -o-filter: grayscale(30%);
  -ms-filter: grayscale(30%);
  opacity: 0.85 !important;
}

@media (max-width: 768px) {
  .blueimp-gallery > .indicator > li {
    display: none !important;
  }
}
.carousel-caption h1,
.carousel-caption h2 {
  color: #fff !important;
}

/* Syntax highlighting */
body .syntaxhighlighter {
  border-radius: 4px;
  padding: 7px;
  width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media screen and (max-width: 992px) {
  body .syntaxhighlighter {
    padding: 5px;
    width: 100% !important;
  }
}

img.rounded,
.woocommerce div.product div.images img,
.woocommerce ul.products li.product a img {
  max-width: 95%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0 solid transparent;
  border-radius: 7px;
}

.woocommerce
  div.product
  div.images
  .woocommerce-product-gallery__image:nth-child(n + 2) {
  margin-top: 8px;
  width: 24% !important;
}

.woocommerce
  div.product
  div.images
  .woocommerce-product-gallery__image:nth-child(2) {
  margin-left: 8px;
}

.wp-caption {
  border: none;
  margin-bottom: 1.5em;
  max-width: 100%;
  font-size: 14px;

  img {
    margin: 8px auto;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
  }
}

.wp-caption .wp-caption-text {
  font-size: 14px;
  margin: 0.8075em 0;
}

.cases-menu a:hover,
.cases-section a.seemore,
table:not(.clean) {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
}

.cases-menu {
  background-color: color(stt);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 100;

  a {
    color: #fff;
  }

  a:hover {
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 768px) {
  .cases-menu a:hover {
    padding: 3px;
  }
}
.cases-section {
  padding-top: 15px;
  background-color: #fff;
  color: #848484;
  font-size: 14px;
}

.cases-section h3 {
  font-weight: 100;
}

.cases-section h3:hover {
  color: color(stt);
  font-weight: 100;
}

.cases-section h4 {
  margin-bottom: 0;
}

.cases-section .row {
  padding-top: 20px;
}

.cases-section a.seemore {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: color(stt);
  color: #fff;
  font-weight: 100;
}

.woocommerce table.shop_attributes td {
  font-style: normal !important;
}

table:not(.clean):not(.shop_attributes) td,
table:not(.clean):not(.shop_attributes) th {
  background-clip: padding-box;
  padding: 8px;
  vertical-align: center;
}

.cases-section a.seemore:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #848484;
}

.alternating-bg:nth-of-type(even) {
  background-color: #eaeaea;
}

table {
  font-size: 16px;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;

  @media #{$mobile} {
    // Responsive tables (https://css-tricks.com/responsive-data-tables/)
    &.mobile {
      display: block;

      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }
    }

    td {
      position: relative;
    }
  }
}
.table-container {
  margin: 20px 0;

  @media #{$mobile} {
    overflow-x: auto;
  }
}

table.clean,
table.shop_attributes {
  table-layout: fixed;
}

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  @media #{$mobile} {
    grid-template-columns: repeat(3, 1fr);
  }

  > div {
    grid-column: auto;
    grid-row: auto;
    align-self: center;
  }
}

table:not(.clean) {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border-collapse: separate !important;
  border-spacing: 0;
  border: 1px solid #ddd !important;
  border-radius: 7px !important;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
}

table:not(.clean):not(.shop_table) {
  width: 70% !important;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  border-radius: 7px !important;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: color(stt) !important;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background-color: #005992 !important;
}

table.blue th,
table:not(.clean):not(.shop_attributes) th {
  background-color: color(stt);
}

table.blue th a,
table.blue th a:hover,
table:not(.clean):not(.shop_attributes) th a,
table:not(.clean):not(.shop_attributes) th a:hover {
  color: #fff;
}

@media screen and (max-width: 991px) {
  table:not(.clean):not(.shop_attributes) {
    width: 100% !important;
  }
}
table:not(.clean):not(.shop_attributes) th {
  text-align: center;
  color: #fff;
  font-weight: 400;
}

table.shop_attributes th {
  font-weight: 400;
}

table.red th {
  background-color: #dd3d29;
}

table.green th {
  background-color: #69aa00;
}

table.gray th {
  background-color: #3d3d3d;
}

table:not(.clean):not(.shop_attributes):not(.shop_table) td {
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table.shop_attributes td,
table.shop_table td {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
  border-top: 0 !important;
}

table:not(.clean):not(.shop_attributes) td:first-child {
  border-left: none;
}

table:not(.clean):not(.shop_attributes) tr:last-child td {
  border-bottom: none;
}

tbody:not(.clean):not(.shop_attributes) tr:first-child th:first-child,
thead:not(.clean):not(.shop_attributes) tr:first-child th:first-child {
  border: 0 solid transparent;
  border-top-left-radius: 7px;
  -moz-border-top-left-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  border-bottom-left-radius: 0 !important;
  -moz-border-bottom-left-radius: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
}

tbody:not(.clean):not(.shop_attributes) tr:first-child th:last-child,
thead:not(.clean):not(.shop_attributes) tr:first-child th:last-child {
  border: 0 solid transparent;
  border-top-right-radius: 7px;
  -moz-border-top-right-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  border-bottom-right-radius: 0 !important;
  -moz-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
}

tbody:not(.clean):not(.shop_attributes) tr:last-child th:first-child,
tfoot:not(.clean):not(.shop_attributes) tr:last-child th:first-child {
  border: 0 solid transparent;
  border-bottom-left-radius: 7px;
  -moz-border-bottom-left-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
}

tbody:not(.clean):not(.shop_attributes) tr:last-child th:last-child,
tfoot:not(.clean):not(.shop_attributes) tr:last-child th:last-child {
  border: 0 solid transparent;
  border-bottom-right-radius: 7px;
  -moz-border-bottom-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
}

table:not(.clean):not(.shop_attributes) .narrow {
  width: 100% !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  margin: 0 !important;
}

.woocommerce .quantity .qty {
  height: 31px;
}

body .syntaxhighlighter .gutter,
body .syntaxhighlighter a,
body .syntaxhighlighter code,
body .syntaxhighlighter div,
body .syntaxhighlighter table,
body .syntaxhighlighter table caption,
body .syntaxhighlighter table tbody,
body .syntaxhighlighter table td,
body .syntaxhighlighter table thead,
body .syntaxhighlighter table tr,
body .syntaxhighlighter textarea {
  font-size: 11pt !important;
  line-height: 13pt !important;
}

.container .blog-span {
  margin-left: 0 !important;
}

.blog-post {
  position: relative;

  .span10 {
    padding: 0 0 0 60px;
  }

  .blog-post-body {
    font-size: 18px;
    font-weight: 100;
    color: #000000;
  }

  .blog-post-details {
    width: 100%;
    overflow: hidden;
    color: #000000;

    .blog-post-details-item {
      font-size: 14px;
    }
  }

  a h2,
  h2 a {
    color: #279fbb;
    -webkit-transition: 0.5s color;
    -moz-transition: 0.5s color;
    -o-transition: 0.5s color;
    transition: 0.5s color;

    &:hover {
      color: #3a3a3a;
    }
  }

  h2 {
    margin-bottom: 10px;
  }

  p {
    line-height: 1.45;
    margin: 0 0 20px;
  }
}

.blog-post .blog-post-details-item {
  position: relative;
  float: left;
  margin: 0 0 0 20px;
}

.blog-post .blog-post-details-item:first-child {
  margin-left: 0;
}

.posts-list {
  padding: 0;
  margin: 0;

  li {
    display: block;
    overflow: hidden;
    margin: 0 0 15px;
  }

  .posts-list-thumbnail {
    float: left;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    img {
      border-radius: 2px;
    }

    &:hover {
      opacity: 0.8;
      filter: alpha(opacity=80);
    }
  }

  .posts-list-title {
    display: block;
  }

  .posts-list-meta {
    font-size: 12px;
    color: #aaa;
  }
}

.posts-list-content {
  padding: 0 0 0 75px;
}

.text-input {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 6px 5px;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}

.blog-search .blog-search-input,
.text-input:focus {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
}

.text-input:focus {
  box-shadow: inset 7px 0 7px -7px rgba(0, 105, 170, 0.9),
    inset 0 7px 7px -7px rgba(0, 105, 170, 0.9),
    inset 0 -7px 7px -7px rgba(0, 105, 170, 0.9);
  -moz-box-shadow: inset 7px 0 7px -7px rgba(0, 105, 170, 0.9),
    inset 0 7px 7px -7px rgba(0, 105, 170, 0.9),
    inset 0 -7px 7px -7px rgba(0, 105, 170, 0.9);
  -webkit-box-shadow: inset 7px 0 7px -7px rgba(0, 105, 170, 0.9),
    inset 0 7px 7px -7px rgba(0, 105, 170, 0.9),
    inset 0 -7px 7px -7px rgba(0, 105, 170, 0.9);
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.blog-search .blog-search-input {
  float: left;
  width: -moz-calc(100% - 30px);
  width: -o-calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  height: 30px;
  font-weight: 100;
  padding-left: 7px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.blog-search .blog-search-button {
  border: 0;
  background-color: color(stt);
  width: 30px;
  height: 30px;
  text-align: center;
  padding-left: 4px;
  padding-top: 0;
  color: #fff;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: FontAwesome !important;
  font-weight: 100;
  font-size: 15px;
}

.blog-post .blog-span {
  margin-left: 50px;
  margin-right: 50px;
}

.blog-span-bottom[class*="blog-span-bottom"] {
  width: 95.5%;
}

.comment .comment-reply {
  position: absolute;
  right: 28px;
  top: 20px;
  font-weight: 400;
  font-size: 11px;
}

.btn,
.footer .copyright,
.footer .footer-col .footer-content input[type="submit"],
.footer .footer-col .footer-title,
.sidebar-icon-item {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

.btn {
  border-radius: 3px;
  border: 0;
  margin-left: 5px;
  margin-right: 5px;

  &.btn-primary {
    color: #fff;
    &:hover {
      opacity: 0.8;
      color: #fff !important;
    }
  }
}

.message-box h4 {
  font-weight: 400 !important;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #4b4b4b !important;
  line-height: 28px;
}

.message-box .button {
  float: right;
  margin-left: 50px;
}

.message-box .button.mobile {
  display: none;
}

.carousel-inner .row {
  padding-top: 35px;
  padding-bottom: 35px;
}

.sidebar-icon-item {
  padding: 0 0 15px;
  clear: both;
  font-size: 12px;
  color: #666;

  &:last-child {
    padding: 0;
  }

  i {
    font-size: 18px;
    padding: 0 10px 0 0;
    float: left;
    margin: 2px 0 0;
  }
}

.content-box .content-box-text {
  padding-left: 50px;
}

.content-box h4 {
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 20px;

  i {
    width: 40px;
    height: auto;
    font-size: 32px;
    float: left;
    margin: 0 10px 0 0;
    color: #3498db;
    position: relative;

    &.icon-flat {
      background-image: url(../images/icons/flat-icons.png);
      background-repeat: no-repeat;
      height: 38px;
    }
  }

  .read-more {
    text-align: right;
    color: #4b4b4b;
    overflow: hidden;
    display: block;
  }
}

.center-title,
.content-box.content-style2,
.not-found-40x,
.pagination {
  text-align: center;
}

.content-box .read-more span {
  padding: 1px 10px 0 0;
  display: inline-block;
}

.content-box .read-more i {
  font-size: 10px;
  float: right;
  margin: 7px 0 0;
}

.content-box .content-box-text .read-more {
  display: block;
}

.content-box.content-style2 .content-box-text {
  padding-left: 0;
}

.content-box.content-style2 h4 i {
  display: block;
  float: none;
  font-size: 56px;
  margin: 0 0 10px;
  color: #3498db;
  text-align: center;
  width: auto;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s;
}

.footer {
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding: 0;
  background-color: #2f2f2f;

  .footer-col {
    .footer-title {
      padding: 0 0 8px;
      margin: 0 0 15px;
      color: #428bca;
      font-weight: 400;
      font-size: 14pt;

      @media #{$mobile} {
        margin-bottom: 0;
      }
    }

    .footer-getintouch-row {
      margin: 10px 0 0;
    }

    .footer-content {
      a,
      ul {
        color: #c9c9c9;
      }
    }

    .input:hover {
      background-color: #fff;
      background-color: rgba(255, 255, 255, 0.38);
      color: #333;
    }

    .input:focus {
      background-color: rgba(255, 255, 255, 0.8);
      color: #333;
    }

    input[type="text"] {
      height: 30px;
    }

    input[type="submit"] {
      background-color: #184780;
      border: 0;
      padding: 7px 18px;
      border-radius: 5px;
      color: #d2d2d2;
      font-size: 12px;

      &:hover {
        background-color: #164279;
      }

      &:active {
        background-color: #184780;
      }
    }
  }

  .copyright {
    color: #a3a3a3;
    height: 40px;
    width: 100%;
    font-size: 13px;
    font-weight: 100;
    line-height: 40px;
    background-color: #fff;

    a,
    a:visited {
      color: #a3a3a3;
    }

    &:before {
      position: absolute;
      display: block;
      content: "";
      height: 1px;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}

p {
  line-height: 20px;
}

.footer .social-icons {
  overflow: hidden;
  height: 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  .social-media-icon {
    float: right;
    background-color: transparent;
    border: none;

    &:hover {
      border: none;
    }
  }

  @mixin social_icon($name, $color) {
    .#{$name}-icon {
      background-image: url(../images/social-media/social-media-#{$name}.png);
      background-size: 40px 80px;
      &:hover {
        background-color: $color;
      }

      @media (-webkit-min-device-pixel-ratio: 1.5) {
        background-image: url(../images/social-media/social-media-#{$name}%402x.png);
      }
    }
  }
  @include social_icon(googleplus, #d94a39);
  @include social_icon(linkedin, #71b2d0);
  @include social_icon(twitter, #00a0d1);
  @include social_icon(facebook, #3b5998);
  @include social_icon(youtube, #c4302b);
  @include social_icon(instagram, #dc2743);

  > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
}

#header,
.body-wrapper,
.footer-wrapper,
.navigation,
.page-info,
.sidebar,
sub,
sup {
  position: relative;
}

.footer-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

a:focus,
a:hover {
  text-decoration: none !important;
  color: color(stt);
}

blockquote {
  border: 0;
  padding: 0;
  color: color(path-link);
  font-style: italic;
  font-size: 22px;
  @media #{$tablet} {
    font-size: 18px;
  }

  a {
    color: color(path-link) !important;
    font-style: italic;
  }

  span,
  .author,
  .other {
    font-size: 18px;
    @media #{$tablet} {
      font-size: 16px;
    }

    display: block;
    font-style: normal;
    color: color(gray);
  }
  .author {
    margin-top: 10px;
  }
}
.style-dark blockquote {
  color: color(white);

  span,
  .author,
  .other {
    font-weight: 400;
  }
}

::selection {
  background-color: #3498db;
  color: #fff;
}

::-moz-selection {
  background-color: #3498db;
  color: #fff;
}

.body-wrapper {
  padding-top: 0;
  padding-bottom: 0;
  z-index: 0;
}

.top-title-wrapper {
  background-color: #3498db;
  width: 100%;
  overflow: hidden;
}

.top-title-wrapper .container {
  width: 100%;
}

b {
  font-weight: 500;
}
strong,
time {
  font-weight: 600;
}

@mixin spacer($size) {
  .space-sep#{$size} {
    clear: both;
    display: block;
    height: #{$size}px;
  }
}
@include spacer(10);
@include spacer(20);
@include spacer(30);
@include spacer(40);
@include spacer(50);
@include spacer(60);
@include spacer(70);
@include spacer(80);
@include spacer(90);
@include spacer(100);

.space-sep-top {
  clear: both;
  display: block;
  height: 100px;
  @media #{$tablet} {
    height: 50px; // no extra space in mobile
  }
}
.space-sep-top-tight {
  // basically the same menu height
  clear: both;
  display: block;
  height: 90px;
  @media #{$tablet} {
    height: 50px;
  }
}

.page-info {
  padding-top: 30px;
  padding-bottom: 20px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .top-title-wrapper .container {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.not-found-40x {
  overflow: hidden;
  margin-bottom: 60px;

  h2 {
    font-size: 180px;
    margin: 30px 0;
    line-height: 180px;
  }

  p {
    font-size: 28px;
    color: #9a9a9a;
    margin-bottom: 40px !important;
    line-height: 32px;
  }

  @media #{$tablet} {
    margin-bottom: 20px;

    h2 {
      font-size: 100px;
      margin: 20px 0;
      line-height: 100px;
    }

    p {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 10px !important;
    }
  }
}

.search-404 {
  margin: 0 auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  display: inline-block;
}

.search-submit {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: none !important;
  float: left;
  height: 33px;
}

span.colored,
strong.colored {
  color: #3498db;
}

.skin-text {
  color: #3498db !important;
}

.sidebar-block,
.widget {
  position: relative;
  margin: 0 0 40px;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.navigation > li,
.navigation > li:last-child {
  margin-right: 0;
}

.navigation,
.sidebar-block p,
body,
figure,
form {
  margin: 0;
}

.sidebar-block .sidebar-content {
  overflow: hidden;
}

.sidebar .sidebar-title:first-child {
  line-height: 13px;
}

.sidebar {
  width: 100%;
  z-index: 0;
}

.sidebar .sidebar-title {
  text-transform: capitalize;
}

time {
  font-size: 11px;
}

#header {
  clear: both;
  border-bottom: 0;
  z-index: 1;
}

.navigation {
  float: right;
  padding: 0;
  height: 80px;
  z-index: 10000;
}

.navigation > li {
  float: left;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  display: inline;
}

a:focus {
  outline: dotted thin;
}

a:active,
a:hover {
  outline: 0;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 0 0 20px;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:after,
q:before {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  height: 13px;
  width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

.pagination {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding-left: 50px;
  margin-bottom: 20px;

  a {
    color: #999;
    margin: 0 0 0 4px;
    padding: 10px 15px;
    display: inline-block;
    font-size: 14px;

    &:hover {
      border-radius: 2px;
      background-color: #f7f7f7;
      color: #3498db;
    }
  }

  .next,
  .prev,
  a.current {
    color: #3498db;
  }
}

.social-media-icon {
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background-color: #fafafa;
  border: 1px solid #f3f3f3;
  margin: 0 5px 5px 0;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  float: left;
  background-repeat: no-repeat;
  background-position: 0 -40px;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;

  &:hover {
    background-position: 0 0;
  }
}

.woocommerce div.product form.cart .button {
  background-color: color(stt) !important;
}

table,
table.table {
  width: 100%;
  text-align: left;
  background-color: transparent;
}

table.table thead tr {
  border-right: 0;
  background-color: #3498db;
  color: #fff;
  text-align: left;
  padding: 10px 15px;
  vertical-align: top;
  font-size: 14px;
  font-weight: 700;
}

.table td,
.table th {
  padding: 8px;
  border: 1px solid #d8d8d8;
}

.table tbody tr:hover {
  background: #fafafa;
}

table.hover {
  thead {
    th,
    tr {
      background-color: #fff;
    }

    th {
      color: #666;
      border: none;
    }
  }

  td,
  th {
    border: none;
    border-bottom: 1px solid #e8e8e8;
  }

  tbody tr:nth-child(odd) {
    background-color: #fafafa;
  }
}

.gallery-caption {
  font: 14px;
}

.aligncenter {
  font: 14px;
  text-align: center;
}

.footer-wrapper #wp-calendar tbody tr td {
  color: #fff;
}

.col-md-3 ul {
  margin: 0;
  padding-left: 10px;
}

.col-md-3 ul li a {
  border-bottom: 1px solid #dedede;
  color: #333;
  padding: 8px 0 8px 5px;
  display: block;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  overflow: hidden;
  transition: all 0.4s ease 0s;
  word-break: break-all;
  word-wrap: break-word;
}

.blog-post .blog-span h2 {
  color: #676767 !important;
}

.post-password-form input[type="submit"] {
  color: #fff;
}

.wp-caption img {
  display: block;
  height: auto;
  max-width: 100%;
}

.content-box-text {
  font-weight: 100;
  font-size: 16px;
}

.content-box .glyph-icon {
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.45;
  line-height: 1.2;
  transition: margin-top 0.3s, margin-bottom 0.3s, opacity 0.5s;
  -moz-transition: margin-top 0.3s, margin-bottom 0.3s, opacity 0.5s;
  -webkit-transition: margin-top 0.3s, margin-bottom 0.3s, opacity 0.5s;
  -o-transition: margin-top 0.3s, margin-bottom 0.3s, opacity 0.5s;
}

.content-box:hover .glyph-icon {
  margin-top: -10px;
  margin-bottom: 10px;
  opacity: 1;
}

.content-box [class*=" flaticon-"]:before {
  color: #aaa;
  font-size: 80px !important;
  font-style: normal;
  margin-left: 0 !important;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  -moz-text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  -webkit-text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.content-box:hover [class*=" flaticon-"]:before {
  color: color(stt);
  transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
}

.page-path {
  color: #cbcbcb !important;
  font-weight: 300;

  a {
    color: color(path-link) !important;

    &:hover {
      color: darken(color(path-link), 20) !important;
    }
  }

  @media #{$tablet} {
    display: none;
  }
}

.top {
  align-self: flex-start;
}
.left {
  text-align: left;

  img {
    display: block;
    margin-left: 0;
    margin-right: auto;
  }
}
.center {
  text-align: center;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.right {
  text-align: right;

  img {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
}

.icon {
  margin-bottom: 20px;
}

.extend-full,
.banner {
  padding-left: 100vw;
  margin-left: -100vw;
  padding-right: 100vw;
  margin-right: -100vw;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.banner {
  height: calc(100vw * 0.32);
}

.row {
  .post-content {
    padding-bottom: 0;
  }

  > [class*="col-"]:first-of-type:not(:only-of-type) {
    .extend-full {
      padding-left: 50vw;
      margin-left: -50vw;
      padding-right: 62px;
      margin-right: -62px;
      background-size: cover;
      background-position: right center;
    }
  }
  > [class*="col-"]:last-of-type:not(:only-of-type) {
    .extend-full {
      padding-left: 62px;
      margin-left: -62px;
      padding-right: 50vw;
      margin-right: -50vw;
      background-size: cover;
      background-position: left center;
    }
  }

  .button-list {
    padding-bottom: 20px;

    &:last-of-type {
      padding-bottom: 0px;
    }

    > [class*="col-"]:first-of-type {
      float: none;
      margin-left: auto;
    }
    > [class*="col-"]:last-of-type {
      float: none;
      margin-right: auto;
    }
  }
}

img.blog-thumbnail {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 5px;
  background: #fff;
}

.image {
  position: relative;
  padding-bottom: 100%;

  img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.image-text {
  margin-top: 20px;
  height: 60px;

  a,
  a:hover,
  a:visited {
    color: #777;
  }
  img {
    float: left;
    margin-right: 7px;
  }
  p {
    font-size: 14px;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 80px;
    height: 60px;
  }
}

.related-pages p {
  margin: 0;
}

h3.collapse-header {
  margin-top: 10px;
  margin-bottom: 10px;
}
[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

// Products
.product-links {
  margin-top: 40px;

  &.single {
    margin-top: 0;
  }

  .row {
    @media #{$tablet} {
      &:first-child {
        padding-top: 15px;
      }
    }
    margin-left: 0px;
    margin-right: 0px;
  }

  a {
    display: inline-block;
    width: auto;
    height: 32px;
    margin: 5px;

    @media #{$desktop} {
      &:hover {
        transform: scale(1.08);
      }
      &[href="#"]:hover {
        transform: none;
      }
    }
  }
  span {
    /* Hide text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    &.product {
      display: inline-block;
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right: auto;

      @mixin product($name, $shape, $size, $ext, $suffix: "") {
        &.#{$name}#{$suffix} {
          width: #{$size}px;
          height: #{$size}px;
          background-image: url("../images/products/#{$name}-#{$shape}-#{$size}.#{$ext}");
          background-size: #{$size}px;
        }
      }

      &.round {
        @mixin product_private($name) {
          @include product($name, round, 32, png);
        }
        @include product_private(sports-3dma);
        @include product_private(cycling-3dma);
        @include product_private(golf-3dma);
        @include product_private(running-3dma);
        @include product_private(clinical-3dma);
        @include product_private(human-3dma);
        @include product_private(eddo);
        @include product_private(isen);
        @include product_private(bikefit);
      }

      &.square {
        @mixin product_private($name) {
          @include product($name, square, 48, jpg, -sm);
          @include product($name, square, 72, png, -md);
        }

        @include product_private(sports-3dma);
        @include product_private(cycling-3dma);
        @include product_private(golf-3dma);
        @include product_private(running-3dma);
        @include product_private(clinical-3dma);
        @include product_private(human-3dma);
        @include product_private(eddo);
        @include product_private(isen);
        @include product_private(bikefit);
      }
    }
  }
}
.product-name {
  font-size: 18px;
  font-weight: 300;
  color: color(white);
  margin-top: 10px;
  height: 50px;
}

.product-tabs {
  position: relative;
  height: 72px;
  margin-top: -30px; // avoid empty space due to product-name
  margin-bottom: 36px;

  > .product-links {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);

    a {
      height: auto;
    }

    &.color-current a {
      &:not([href="#"]) {
        -webkit-filter: grayscale(98%);
        filter: grayscale(98%);
        opacity: 0.4;
      }
    }
  }

  > .product-name {
    font-size: 18px;
    color: color(black);
    margin-top: 0;
    height: 30px;
  }
}
@media #{$tablet} {
  .product-tabs {
    display: none;
  }
}

// Distributors
.row .distributor {
  font-size: 18px;

  &:nth-child(odd):not(:last-child) {
    padding-top: 25px;
  }
  &:nth-child(even) {
    padding-bottom: 25px;
  }

  h3 {
    padding-bottom: 0;
  }

  .product-links {
    margin-top: 0px;

    [class*="col-"] {
      padding: 0px;
      margin: 0px;
    }

    a {
      width: 24px;
      height: 24px;
      margin: 0px;
      margin-left: 5px;
    }
    .product {
      width: 24px !important;
      height: 24px !important;
      background-size: 24px !important;
    }

    #current {
      height: 1px;
    }
  }

  .logo {
    display: flex;
    align-items: center;
  }
  .country {
    display: flex;
    margin-top: 8px;
    justify-content: flex-start;
    font-weight: 700;
  }

  .type {
    margin-left: 3px;

    @mixin type($name) {
      .#{$name} {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-left: 4px;
        margin-bottom: -5px;

        background-image: url("../images/distributor-#{$name}.png");
        background-size: cover;

        /* Hide text */
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    @include type(premium);
    @include type(exclusive);

    #current {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      margin-left: 6px;
      height: 26px;
    }
  }
}

// Cookies (GDPR)
#cookie-notice {
  &.cn-top.bootstrap {
    display: table;
  }

  .cn-button {
    font-size: 14px;
  }

  .cookie-notice-container {
    height: 91px;
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
  }
}
