@import "_colors.scss";
@import "_responsive.scss";

.navbar-collapse {
  border-color: transparent;
  max-height: 100%;

  @media #{$tablet} {
    padding-top: 50px;
  }
}

.navbar-header {
  position: relative;
  z-index: 10;
}

.dropdown-menu,
.dropdown-toggle {
  cursor: default;
}

.logo {
  margin-top: 2px;
}

.navbar {
  margin-bottom: 0;
  background: rgba(242, 242, 243, 0.97);
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.05);
}

.navbar-default {
  border-width: 0;
}

#stt-navbar-collapse {
  -webkit-transition: none !important;
  transition: none !important;
}

.container-fluid {
  padding: 0;
}

.nav {
  position: relative;
}

.navbar-nav {
  @media #{$desktop} {
    text-align: center;
    float: none;
  }

  > li {
    @media #{$desktop} {
      float: none;
      display: inline-block;
    }

    &:last-child {
      margin-right: 0;
    }

    > a {
      color: #898989;
    }

    > .dropdown-menu {
      position: absolute;
    }
  }
}

.navbar-default .navbar-nav > li > a {
  font-size: 18px;
  padding-bottom: 15px;
  padding-top: 56px;
  text-transform: uppercase;
}

.dropdown-menu {
  min-width: 210px;
  padding: 0;
  margin-left: 0;
  border-width: 0;
  border-radius: 0 3px 3px;
  -moz-border-radius: 0 3px 3px;
  -webkit-border-radius: 0 3px 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.dropdown-submenu a::after {
  margin-right: -11px;
}

.navbar-right .dropdown-menu {
  right: auto;
}

.dropdown-menu > li > a {
  font-size: 16px;
  padding: 10px 20px;
}

.dropdown .fa-angle-down,
li.dropdown.active .fa-angle-down,
li.dropdown:hover .fa-angle-down {
  font-size: 12px;
  font-weight: 600;
  height: 15px;
  line-height: 14px;
  text-align: center;
  width: 15px;
}

.dropdown-menu > li:first-of-type > a {
  border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
}

.dropdown-menu > li:last-of-type > a {
  border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  transition: all 0.5s ease 50ms;
}

.dropdown .fa-angle-down {
  border-radius: 50%;
  margin-left: 5px;
}

.dropdown-submenu {
  position: relative;
  border-radius: 0 3px 3px;
  -moz-border-radius: 0 3px 3px;
  -webkit-border-radius: 0 3px 3px;
}

.dropdown-submenu > .dropdown-menu {
  left: 100%;
  margin-top: 0;
  top: 0;
  border-radius: 0 3px 3px;
  -moz-border-radius: 0 3px 3px;
  -webkit-border-radius: 0 3px 3px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.dropdown-submenu .active {
  font-weight: 400;
}

.dropdown-submenu .pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 0 3px 3px;
  -moz-border-radius: 0 3px 3px;
  -webkit-border-radius: 0 3px 3px;
}

ul li.current_page_item a {
  color: #fff !important;
}

.navbar-brand {
  padding: 5px 0px 5px 20px;

  img {
    height: 78px;
    @media #{$tablet} {
      height: 40px;
    }
  }
}

@media #{$desktop} {
  .navbar {
    [class*="col-md"],
    [class*="col-sm"],
    [class*="col-lg"] {
      margin-bottom: 0 !important;
    }
  }
}

@media #{$mobile} {
  .navbar-brand {
    padding-left: 5px;
  }
}

@media #{$tablet} {
  .navbar-toggle {
    display: block;
    float: right;
  }

  #area-logo {
    display: none;
  }

  .navbar-default .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .dropdown-menu {
    font-weight: 300;
    font-size: 18px;
    .dropdown-menuitem a {
      padding-left: 35px !important;
    }
  }

  #stt-navbar-collapse {
    overflow-y: initial;
  }

  .navbar {
    [class*="col-md"],
    [class*="col-sm"],
    [class*="col-lg"] {
      &:not(:first-child) {
        margin-bottom: 0;
      }
    }
  }

  .container-fluid > .navbar-header {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);

    &.collapse {
      display: none !important;

      &.in {
        display: block !important;
      }
    }
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
    & > li {
      float: none;
    }
    & > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  .collapsing {
    overflow: hidden !important;
  }
}

@media #{$desktop} {
  .dropdown-submenu > a:after {
    border-color: 0 !important;
    border-radius: 50% !important;
    border-style: solid solid dotted !important;
    border-width: 6px 3px 0 !important;
    content: " ";
    display: block;
    float: right;
    height: 0 !important;
    margin-right: -10px;
    margin-top: 9px;
    width: 0 !important;
  }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }

  #parent_menu {
    display: none;
  }

  ul li.current_page_ancestor a.dropdown-toggle,
  ul li.current_page_ancestor a.dropdown-top-selected {
    background-color: color(stt);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
    color: #fff !important;
  }
}

// Place navbar below admin bar
body.admin-bar .navbar {
  top: 28px !important;
}
