body.admin-bar .navbar {
  top: 28px
}
.navbar-nav > li > a {
  padding-top: 18px !important;
  padding-bottom: 10px !important;
}
.navbar {
  min-height: 40px !important
}

.image-text {
  height: auto !important;
  margin-top: 8px !important;
}