#add_payment_method .cart-collaterals .cart_totals table small, .woocommerce-cart .cart-collaterals .cart_totals table small, .woocommerce-checkout .cart-collaterals .cart_totals table small {
  color: #fff !important;
  font-size: 75% !important;
  font-weight: 400 !important;
}

.woocommerce .woocommerce-message a.button {
  margin-left: 10px !important;
}

.price {
  font-size: 14px !important;
  color: #c44 !important;
}
